<div class="carousel-inner-top-bar">
    <i class="bx bxs-bookmark fs-2"></i>
</div>

<!-- 독서 디데이(현재 독서 이력) -->
<div class="carousel-item active" id="readingDDayCard">
    <a href="javascript:void(0);" id="readingRecordEditBtn" data-bs-toggle="modal" data-bs-target="#smallModal">
        <p class="text-muted">
            <small>
                <em class="start-date"><!-- 데이터 동적 로드 --></em> 부터
            </small>
            <i class="bx bx-pencil bx-xxs"></i>
        </p>
        <p class="text-center">
            <em class="text-primary fw-medium fs-4 d-day"><!-- 데이터 동적 로드 --></em> 일째 독서중
        </p>
        <p class="text-center text-muted">
            <small>탭해서 독서일 변경</small>
        </p>
    </a>
</div>

<!-- TODO: 최근 독서 시간 및 페이지 + 독서시간 이력 변경 버튼 -->
<!--<div class="carousel-item">-->
<!--    <a href="#" id="readingTimeEditBtn" data-bs-toggle="offcanvas"-->
<!--       data-bs-target="#offcanvasCont" aria-controls="offcanvasCont">-->
<!--        <p class="text-muted">-->
<!--            <small>최근 독서 시간 (2024. 5. 20)</small>-->
<!--        </p>-->
<!--        <div class="d-flex align-items-center justify-content-between">-->
<!--            <span>92p <small>(158 ~ 249)</small></span>-->
<!--            <span class="text-primary fw-medium fs-4">-->
<!--                <span>2:30</span>-->
<!--                <i class="bx bx-pencil bx-xxs text-muted"></i>-->
<!--            </span>-->
<!--        </div>-->
<!--        <p class="text-center text-muted">-->
<!--            <small>탭해서 독서시간 기록 변경</small>-->
<!--        </p>-->
<!--    </a>-->
<!--</div>-->
