<div class="modal-header">
    <h5 class="modal-title">독서일 변경</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="readingRecordForm">
    <div class="modal-body">
        <input type="date" class="form-control" id="startDate" name="startDate">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">저장</button>
    </div>
</form>

<script>
    /**
     * 독서 이력 저장
     */
    document.getElementById('readingRecordForm').addEventListener('submit', function(event) {
        event.preventDefault();
        saveReadingRecord();
    })

    function saveReadingRecord() {
        globalLoading(true);

        const form = document.getElementById('readingRecordForm');
        const data = formToJson(new FormData(form));

        const id = form.dataset.id;
        const promise = id
            ? axios.put(`/api/reading-records/${id}`, data)
            : axios.post(`/api/reading-records`, data);

        const onSuccess = (result) => {
            updateReadingCarouselCardUI('READING');
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>