<div class="modal-header">
    <h5 class="modal-title">내 리뷰 수정</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="reviewEditForm">
        <input type="hidden" name="id">
        <input type="hidden" name="bookIsbn">

        <div class="rating-grade mb-3">
            <select class="star-rating" data-value="" data-range="10"></select>
        </div>
        <div class="form-border overflow-auto" style="height: 20vh;">
            <div id="editorjs"></div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-danger" id="deleteReviewBtn">삭제</button>
    <div>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="saveReviewBtn">저장</button>
    </div>
</div>

<script>
    document.getElementById('saveReviewBtn').addEventListener('click', function(event) {
        saveReview();
    })
    document.getElementById('reviewEditForm').addEventListener('submit', function(event) {
        event.preventDefault();
        saveReview();
    })
    document.getElementById('deleteReviewBtn').addEventListener('click', function(event) {
        deleteReview();
    })

    async function saveReview() {
        globalLoading(true);

        const form = document.getElementById('reviewEditForm');
        const data = formToJson(new FormData(form));

        data['rating'] = parseFloat(form.querySelector('span.star-rating').dataset.rating);
        await reviewSimpleEditor.save().then(result => data['reviewText'] = result);

        axios.post(`/api/books/${bookIsbn}/reviews`, data)
            .then(response => {
                const result = response.data;
                if (result.success) {
                    const newReview = result.data.saveResult;
                    if (newReview) {
                        loadReviewData();
                    }
                    closeUIComponents();
                    showToast(result.message, 'success');
                } else {
                    showToast(result.message, 'error');
                }
                globalLoading(false);
            })
            .catch(error => {
                console.error('axios 요청 오류:', error);
                globalLoading(false);
            });
    }

    function deleteReview() {
        globalLoading(true);

        const id = document.querySelector('#reviewEditForm [name=id]').value;
        axios.delete('/api/books/reviews/' + id)
            .then(response => {
                const result = response.data;
                if (result.success) {
                    loadReviewData();
                    closeUIComponents();
                    showToast(result.message, 'success');
                } else {
                    showToast(result.message, 'error');
                }
                globalLoading(false);
            })
            .catch(error => {
                console.error('axios 요청 오류:', error);
                globalLoading(false);
            });
    }
</script>