<div class="modal-header">
    <h5 class="modal-title">구매/대여 이력 기록</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="ownHistoryModal">
    <div class="list-group list-group-horizontal text-center" role="tablist">
        <a class="list-group-item list-group-item-md list-group-item-action active" data-bs-toggle="list"
           href="#purchaseHistItem" aria-selected="false" role="tab" tabindex="-1">구매이력</a>
        <a class="list-group-item list-group-item-md list-group-item-action" data-bs-toggle="list"
           href="#rentalHistItem" aria-selected="true" role="tab">대여이력</a>
    </div>

    <div class="tab-content p-0 mt-3">
        <div class="tab-pane fade active show" id="purchaseHistItem" role="tabpanel" data-target="purchase">
            <form id="purchaseHistForm" class="history-form">
                <input type="hidden" name="id">
                <input type="hidden" name="bookIsbn">

                <div class="text-end" style="margin-bottom: -0.8rem;">
                    <input type="reset" class="btn btn-sm btn-outline-danger" value="초기화">
                </div>
                <div class="mb-2">
                    <label class="form-label">구매일자</label>
                    <input type="date" class="form-control" name="purchaseDate">
                </div>
                <div class="mb-2">
                    <label class="form-label">구매처</label>
                    <input type="text" class="form-control" name="purchaseFrom">
                </div>
                <div class="mb-2">
                    <label class="form-label">가격</label>
                    <div class="input-group">
                        <span class="input-group-text">₩</span>
                        <input type="number" class="form-control" name="price">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">메모</label>
                    <textarea class="form-control" rows="2" name="memo"></textarea>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="rentalHistItem" role="tabpanel" data-target="rental">
            <form id="rentalHistForm" class="history-form">
                <input type="hidden" name="id">
                <input type="hidden" name="bookIsbn">

                <div class="text-end" style="margin-bottom: -0.8rem;">
                    <input type="reset" class="btn btn-sm btn-outline-danger" value="초기화">
                </div>
                <div class="mb-2">
                    <label class="form-label">대여일자</label>
                    <input type="date" class="form-control" name="rentalDate">
                </div>
                <div class="mb-2">
                    <label class="form-label">반납기한</label>
                    <input type="date" class="form-control" name="returnDate">
                </div>
                <div class="mb-2">
                    <label class="form-label">대여처</label>
                    <input type="text" class="form-control" name="rentalFrom">
                </div>
                <div class="mb-2">
                    <label class="form-label">메모</label>
                    <textarea class="form-control" rows="2" name="memo"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="saveHistoryBtn">저장</button>
    </div>
</div>

<script>
    /**
     * 구매/대여 이력 저장
     */
    document.getElementById('saveHistoryBtn').addEventListener('click', function(event) {
        saveOwnHistory();
    })
    document.querySelectorAll('.history-form').forEach(el => {
        el.addEventListener('submit', function(event) {
            event.preventDefault();
            saveOwnHistory();
        })
    })

    function saveOwnHistory() {
        globalLoading(true);

        // 폼 데이터 전처리 (활성화되어 있는 탭의 폼만 저장)
        const activeTab = document.querySelector('#ownHistoryModal .tab-pane.active');
        const form = activeTab.querySelector('form');
        const data = formToJson(new FormData(form));

        const target = activeTab.dataset.target; // purchase / rental

        const promise = data['id']
            ? axios.put(`/api/own-histories/${target}/${data['id']}`, data)
            : axios.post(`/api/own-histories/${target}`, data);

        const onSuccess = (result) => {
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>
