<div class="modal-header">
    <h5 class="modal-title">내 리뷰 수정</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="reviewForm">
    <div class="modal-body">
        <div class="rating-grade mb-3">
            <select class="star-rating" data-value="" data-range="10"></select>
        </div>
        <div class="form-border overflow-auto" style="height: 20vh;">
            <div id="editorjs"></div>
        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-outline-danger" id="deleteReviewBtn">삭제</button>
        <div class="ms-auto">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="submit" class="btn btn-primary">저장</button>
        </div>
    </div>
</form>

<script>
    /**
     * 리뷰 저장 및 삭제
     */
    document.getElementById('reviewForm').addEventListener('submit', function(event) {
        event.preventDefault();
        saveReview();
    })
    document.getElementById('deleteReviewBtn').addEventListener('click', function(event) {
        confirmDeleteButton(event.target).then(deleteReview);
    })

    async function saveReview() {
        globalLoading(true);

        // 폼 데이터 전처리
        const form = document.getElementById('reviewForm');
        const data = formToJson(new FormData(form));

        data['bookIsbn'] = queryParameters[queryParameters.length - 1];
        data['rating'] = parseFloat(form.querySelector('span.star-rating').dataset.rating);
        await reviewSimpleEditor.save().then(result => data['reviewText'] = result);

        const id = form.dataset.id;
        const promise = id
            ? axios.put(`/api/reviews/${id}`, data)
            : axios.post(`/api/reviews`, data);

        const onSuccess = (result) => {
            getReviewData();
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }

    function deleteReview() {
        globalLoading(true);

        const form = document.getElementById('reviewForm');
        const id = form.dataset.id;

        if (!id) { // 삭제 예외 처리
            globalLoading(false);
            return false;
        }

        const promise = axios.delete(`/api/reviews/${id}`)

        const onSuccess = (result) => {
            getReviewData();
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>