<div class="offcanvas-header">
    <h5 class="offcanvas-title">독서 이력 변경</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="content mb-5" id="recordListWrap">
        <form class="mb-3 template-tag">
            <input type="hidden" name="action" value="U" disabled>

            <div class="label-group">
                <label class="form-label"><em class="read-num"></em>번째 독서</label>
                <div>
                    <a class="edit-btn me-1" role="button">
                        <i class="bx bx-pencil"></i>
                    </a>
                    <a class="edit-btn del-action" role="button">
                        <i class="bx bx-trash"></i>
                    </a>
                </div>
            </div>

            <div class="input-group">
                <input type="date" class="form-control" name="startDate" disabled>
                <span class="input-group-text fw-medium fs-5">~</span>
                <input type="date" class="form-control" name="endDate" disabled>
            </div>
        </form>
    </div>
</div>
<div class="offcanvas-footer">
    <button type="button" class="btn btn-primary mb-2 w-100" id="saveRecordBtn">저장</button>
    <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="offcanvas">취소</button>
</div>

<script>
    /**
     * 독서 이력 저장 및 삭제
     */
    document.getElementById('saveRecordBtn').addEventListener('click', function(event) {
        handleReadingRecord();
    })
    document.querySelectorAll('#recordListWrap form').forEach(el => {
        el.addEventListener('submit', function(event) {
            event.preventDefault();
        })
    })

    function handleReadingRecord() {
        globalLoading(true);

        // 폼 데이터 전처리
        const updateList = [];
        const deleteList = [];
        document.querySelectorAll('#recordListWrap form').forEach(el => {
            const data = formToJson(new FormData(el));
            const id = el.dataset.id;
            switch (data.action) {
                case 'U':
                    data.id = id;
                    updateList.push(data);
                    break;
                case 'D':
                    deleteList.push(id);
                    break;
            }
        })

        if (updateList.length < 1 && deleteList.length < 1) {
            globalLoading(false);
            showToast('변경된 이력이 없습니다.');
            return false;
        }

        const data = {
            updateList: updateList,
            deleteList: deleteList,
        };
        const promise = axios.post(`/api/reading-records/batch`, data);

        const onSuccess = (result) => {
            const remainingCompletedReadingRecordCount = result.data;
            let readingStatus = 'READ';

            // 이력이 모두 삭제 됐을 경우, 자동으로 독서 상태 변경됨
            if (remainingCompletedReadingRecordCount < 1) {
                readingStatus = 'TO_READ';
                updateReadingStatusButtonUI(readingStatus, document.querySelector('.dataset-el'));
                getBookDetail();
            }

            updateReadingCarouselCardUI(readingStatus);
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>