<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 내 책장</title>
    <link rel="stylesheet" th:href="@{/assets/css/book.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/star-rating/star-rating.css}"/>
</head>

<body th:replace="~{layouts/base :: _body('my-book-list', ~{::div}, ~{::script}, true)}">
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex align-items-center flex-wrap">
            <h5 class="order-first me-1">내 책장 <em class="fs-6 text-primary total-count">0</em></h5>

            <!-- 조건 필터 버튼 -->
            <div class="d-flex gap-1 gap-md-2 order-1 order-md-0 ms-auto ms-md-3" id="filterWrap">
                <div class="btn-group reading-btn-group" id="readingStatusFilter">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle reading-list-btn filter-btn" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span data-content="독서 상태">독서 상태</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-value="TO_READ">읽을 예정</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-value="READING">읽는 중</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-value="READ">읽음</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-value="PAUSED">잠시 중단</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-value="ABANDONED">독서 포기</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="javascript:void(0);">필터 지우기</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group collection-btn-group" id="collectionFilter">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle collection-btn filter-btn" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span data-content="컬렉션">컬렉션</span>
                    </button>
                    <ul class="dropdown-menu" style="">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="javascript:void(0);">필터 지우기</a></li>
                    </ul>
                </div>
                <div class="btn-group own-btn-group" id="ownFilter">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle filter-btn" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span data-content="소장 여부">소장 여부</span>
                    </button>
                    <ul class="dropdown-menu" style="">
                        <li><a class="dropdown-item" href="javascript:void(0);" data-value="true">소장 중인</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" data-value="false">소장하지 않은</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="javascript:void(0);">필터 지우기</a></li>
                    </ul>
                </div>
                <button class="btn btn-outline-dark btn-sm" type="button" id="filterResetBtn">
                    <i class="bx bx-refresh"></i>
                    <span>초기화</span>
                </button>
            </div>

            <!-- 전체 선택, 제거 버튼 -->
            <div class="gap-1 gap-md-2 order-0 order-md-1 ms-auto d-none d-md-flex">
                <button type="button" class="btn btn-outline-dark btn-sm batch-check-btn">전체 선택</button>
                <button type="button" class="btn btn-dark btn-sm batch-del-btn">제거</button>
            </div>
        </div>

        <div class="card-body">
            <div th:replace="~{common/loading :: local}"></div>
            <div th:replace="~{common/result-message :: div('추가된 책이 없습니다.')}"></div>

            <form id="batchDeleteForm">
                <ul id="myBookList" class="tp-list">
                    <li data-book-isbn="" class="dataset-el template-tag">
                        <div class="item-unit row">
                            <div class="item-check d-none d-md-flex">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="books[]" disabled>
                                </label>
                            </div>
                            <div class="item-img">
                                <span class="img-item">
                                    <a href="">
                                        <img class="img-thumbnail" src="">
                                    </a>
                                </span>
                            </div>
                            <div class="item-info">
                                <div class="info-num">
                                    <span class="badge bg-secondary text-black fw-bold me-1 idx-badge">
                                        <!-- 데이터 동적 로드 -->
                                    </span>
                                    <span class="badge bg-label-primary own-badge hidden">소장중</span>
                                </div>

                                <div class="info-name">
                                    <a href="" class="bk-name btn-link">
                                        <!-- 데이터 동적 로드 -->
                                    </a>
                                </div>

                                <div class="info-pub-grp">
                                    <span class="info-auth">
                                        <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 저
                                        <span class="d-none">
                                            <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 역
                                        </span>
                                    </span>
                                    <span class="info-pub">
                                        <span class="horizontal-divider"></span>
                                        <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a>
                                    </span>
                                    <span class="info-date d-none d-sm-inline-block">
                                        <span class="horizontal-divider"></span>
                                        <a><!-- 데이터 동적 로드 --></a>
                                    </span>
                                </div>

                                <div class="info-detail d-none d-lg-block">
                                    <p class="bk-intro ellipsis">
                                        <!-- 데이터 동적 로드 -->
                                    </p>
                                </div>

                                <div class="info-rating-wrap mt-auto">
                                    <div class="info-rating">
                                        <span class="rating-grade mb-2 d-none d-sm-inline-block">
                                            <select class="star-rating star-rt-sm" data-value="" data-range="10" disabled>
                                            </select>
                                        </span>
                                        <span class="rating-grade mb-2 d-block d-sm-none">
                                            <select class="star-rating star-rt-sm non-label" data-value="" data-range="10"
                                                    disabled></select>
                                        </span>
                                        <div class="rating-detail">
                                            <span>노트 <em class="note-cnt">0</em></span>
                                            <span>완독 <em class="read-cnt">0</em></span>
                                        </div>
                                    </div>

                                    <div class="item-btn-sm-col d-inline-block d-sm-none">
                                        <div th:replace="~{common/reading-list-button :: button_group('S')}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-btn-col d-none d-sm-flex">
                                <div th:replace="~{common/reading-list-button :: button_group('L')}"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>

            <nav th:replace="~{common/pagination :: nav}"></nav>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendor/libs/star-rating/star-rating.js}"></script>
<script th:src="@{/assets/js/rating-util.js}"></script>
<script th:src="@{/assets/js/book-util.js}"></script>
<script>
    let userCollectionList = [];

    document.addEventListener('DOMContentLoaded', function (e) {
        setupStaticFilter(); // 필터 상태 및 이벤트 세팅

        // 로그인 유저 컬렉션 목록 가져오기
        getUserCollectionList()
            .then(list => {
                userCollectionList = list;
                if (list.length) { // 컬렉션 필터 목록 세팅
                    setCollectionButtonOptions(list, document.getElementById('filterWrap'));
                }
                // 컬렉션 필터 상태 및 이벤트 세팅
                setupDynamicFilter();
            });

        getBookList();
    });

    /**
     * 현재 필터 조건 가져오기 (URLSearchParams 객체로 반환)
     */
    function getCurrentFilterConditions() {
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.delete('page');
        return searchParams;
    }

    /**
     * 현재 필터에 따른 UI 세팅 및 필터 버튼 이벤트 세팅
     */
    function setupStaticFilter() {
        const searchParams = getCurrentFilterConditions();
        // 현재 필터 값
        const readingStatus = searchParams.get('readingStatus'); // 독서 상태 필터
        const isOwned = searchParams.get('isOwned'); // 소장 여부 필터
        // 엘리먼트
        const readingStatusFilter = document.getElementById('readingStatusFilter');
        const ownFilter = document.getElementById('ownFilter');
        const filterReset = document.getElementById('filterResetBtn');

        // 1. 현재 필터에 따른 UI 세팅
        const filterWrapElement = document.getElementById('filterWrap');
        if (readingStatus) {
            updateReadingListButtonUI(readingStatus, filterWrapElement);
        }
        if (isOwned) {
            updateOwnFilterButtonUI(isOwned, filterWrapElement)
        }

        // 2. 필터 버튼 이벤트 세팅
        // 독서 상태 필터
        readingStatusFilter.querySelectorAll('.dropdown-item').forEach(el => {
            el.addEventListener('click', function() {
                if (el.dataset.value) {
                    searchParams.set('readingStatus', el.dataset.value);
                } else { // 필터 지우기
                    searchParams.delete('readingStatus');
                }
                location.href = '?' + searchParams.toString();
            })
        })

        // 소장 여부 필터
        ownFilter.querySelectorAll('.dropdown-item').forEach(el => {
            el.addEventListener('click', function() {
                if (el.dataset.value) {
                    searchParams.set('isOwned', el.dataset.value);
                } else {
                    searchParams.delete('isOwned');
                }
                location.href = '?' + searchParams.toString();
            })
        })

        // 필터 초기화
        filterReset.addEventListener('click', function() {
            location.href = location.pathname;
        })
    }

    // 동적으로 불러오는 컬렉션 필터에 대한 세팅
    function setupDynamicFilter() {
        const searchParams = getCurrentFilterConditions();
        const collectionId = searchParams.get('collectionId'); // 컬렉션 ID 필터
        const collectionFilter = document.getElementById('collectionFilter');

        // 1. 현재 필터에 따른 UI 세팅
        const filterWrapElement = document.getElementById('filterWrap');
        if (collectionId) {
            updateCollectionButtonUI(collectionId, filterWrapElement);
        }

        // 2. 필터 버튼 이벤트 세팅
        collectionFilter.querySelectorAll('.dropdown-item').forEach(el => {
            el.addEventListener('click', function() {
                if (el.dataset.value) {
                    searchParams.set('collectionId', el.dataset.value);
                } else {
                    searchParams.delete('collectionId');
                }
                location.href = '?' + searchParams.toString();
            })
        })
    }

    /**
     * [소장 여부] 필터 버튼 UI 업데이트
     */
    function updateOwnFilterButtonUI(isOwned, targetElement) {
        const buttonGroup = targetElement.querySelector('.own-btn-group');

        const toggleButton = buttonGroup.querySelector('button');
        const toggleButtonText = buttonGroup.querySelector('span');
        const ownOptionButtonList = buttonGroup.querySelector('ul.dropdown-menu');

        // 이전 필터 옵션 비활성화
        const activeOwnOptionItem = ownOptionButtonList.querySelector('.dropdown-item.active');
        if (activeOwnOptionItem) {
            activeOwnOptionItem.classList.remove('active');
        }

        // 소장 여부에 따른 버튼 UI 변경
        toggleButton.classList.add('active');
        const currentOwnOptionItem = ownOptionButtonList.querySelector(`[data-value="${isOwned}"]`);
        currentOwnOptionItem.classList.add('active');
        toggleButtonText.textContent = currentOwnOptionItem.textContent;
    }


    /**
     * 내 책 목록(책장) 조회 (쿼리스트링을 통해 파라미터 자동 처리)
     */
    const commonReloadOnDelete = getBookList; // 공통 메서드 콜백을 위해 (handleReadingBook 함수)
    function getBookList() {
        hideNoResultsMessage(); // 검색 시작 시 결과 없음 메시지 숨김
        clearPageButtons(); // 페이지네이션 버튼 초기화
        clearBookList(); // 이전 목록 초기화
        localLoading(true);

        const promise = axios.get('/api/reading-books/me'+window.location.search);

        const onSuccess = async (result) => {
            const data = result.data;
            const getListResult = data.getListResult;

            appendBookElement(data);
            setPagination(getListResult.startIndex, getListResult.totalPages);

            // 동적으로 로드되는 html 버튼에 대한 이벤트 세팅
            setCollectionButtonEvent();
            setReadingListButtonEvent();

            if (getListResult.item.length < 1) {
                showNoResultMessage();
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 책 조회 결과 html 동적 추가
     */
    function appendBookElement(data) {
        const { getListResult, readingInfoList } = data;
        const bookListWrap = document.getElementById('myBookList');
        const templateTag = bookListWrap.querySelector('.template-tag');

        if (templateTag) {
            document.querySelector('.total-count').textContent = getListResult.totalResults;

            getListResult.item.forEach((item, idx) => {
                const targetElement = templateTag.cloneNode(true);
                targetElement.classList.remove('template-tag');

                const readingInfo = readingInfoList[item.isbn13];

                // 책 정보 세팅
                const checkbox = targetElement.querySelector('[name="books[]"]');
                checkbox.disabled = false;
                checkbox.value = readingInfo.id;

                targetElement.dataset.bookIsbn = item.isbn13;
                targetElement.querySelector('.img-item a').setAttribute('href', '/books/detail/'+item.isbn13);
                targetElement.querySelector('.img-item img').setAttribute('src', item.cover);
                targetElement.querySelector('.info-num .idx-badge').textContent = calculateRowIndex(getListResult.startIndex, getListResult.itemsPerPage, idx+1);
                targetElement.querySelector('.info-num .own-badge').toggle(readingInfo.isOwned);
                targetElement.querySelector('.info-name a').setAttribute('href', '/books/detail/'+item.isbn13);
                targetElement.querySelector('.info-name a').textContent = item.title;
                targetElement.querySelector('.info-auth > a').textContent = item.formatAuthor;
                if (item.translator) {
                    targetElement.querySelector('.info-auth > span').classList.remove("d-none");
                    targetElement.querySelector('.info-auth > span > a').textContent = item.translator;
                }
                targetElement.querySelector('.info-pub a').textContent = item.publisher;
                targetElement.querySelector('.info-date a').textContent = item.pubDate;
                targetElement.querySelector('.info-detail .bk-intro').textContent = item.description;

                // 책 관련 통계 세팅 (작성 평점, 노트 수, 완독 수)
                updateUserBookStatistics(item.subInfo, targetElement);

                // 컬렉션 버튼 목록 세팅
                if (userCollectionList.length) {
                    setCollectionButtonOptions(userCollectionList, targetElement);
                }

                // 사용자의 독서 상태 및 컬렉션 정보 세팅 + 버튼 UI 업데이트
                onUpdateReadingInfo(readingInfo, targetElement);

                bookListWrap.appendChild(targetElement);
            })
        }
    }

    function clearBookList() {
        const bookListWrap = document.getElementById('myBookList');
        while (bookListWrap.children[1]) { // 첫번째 엘리먼트는 템플릿 태그이므로 제외
            bookListWrap.removeChild(bookListWrap.children[1]);
        }
    }

    /**
     * 독서 목록에서 책 일괄 제거
     */
    document.querySelector('.batch-check-btn').addEventListener('click', function() { // 전체 선택 버튼
        document.querySelectorAll('[name="books[]"]').forEach(el => {
            el.checked = true;
        })
    })
    document.querySelector('.batch-del-btn').addEventListener('click', function() {
        deleteCheckedBooks();
    })
    function deleteCheckedBooks() {
        const formData = new FormData(document.getElementById('batchDeleteForm'));
        const deleteList = formData.getAll('books[]');
        if (deleteList.length < 1) {
            showToast('삭제할 항목을 선택해 주세요.', 'warning');
            return false;
        }

        const content = '독서 목록에서 일괄 제거됩니다.';
        confirmDelete(content)
            .then(() => {
                globalLoading(true);

                const data = { deleteList: deleteList };
                const promise = axios.post(`/api/reading-books/batch`, data);

                const onSuccess = (result) => {
                    let searchParams = new URLSearchParams(window.location.search);
                    searchParams.set('page', 1);
                    location.href = '?' + searchParams.toString();
                };

                handleApiResponse(promise, onSuccess);
            })
    }
</script>
</body>
</html>
