<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 컬렉션</title>
    <link rel="stylesheet" th:href="@{/assets/css/book.css}"/>
</head>

<body th:replace="~{layouts/base :: _body('my-collection', ~{::div}, ~{::script}, true)}">
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex align-items-center flex-wrap">
            <h5>내 컬렉션</h5>
            <div class="ms-auto">
                <button type="button" class="btn btn-primary btn-sm new-collection-modal-btn"
                        data-bs-toggle="modal" data-bs-target="#smallModal">새 컬렉션</button>
                <div class="form-inline d-inline-block ms-3">
                    <label class="form-check-label" data-switch="off" data-value="spine">
                        <i class="bx bx-library text-muted"></i>
                    </label>
                    <div class="form-check-inline form-switch mx-1 d-inline">
                        <input type="checkbox" class="form-check-input" id="bookListViewOption" role="switch">
                    </div>
                    <label class="form-check-label" data-switch="on" data-value="cover">
                        <i class="bx bxs-book-alt text-muted"></i>
                    </label>
                </div>
            </div>
        </div>

        <div th:replace="~{common/loading :: local}"></div>
        <div th:replace="~{common/result-message :: div('컬렉션이 없습니다.')}"></div>

        <div id="collectionListWrap">
            <div class="col-12 mb-4 collection-unit template-tag" data-col-id="">
                <div class="card-header d-flex align-items-center flex-wrap">
                    <h6 class="order-first col-title"><!-- 데이터 동적 로드 --></h6>
                    <em class="fs-6 text-primary ms-2 book-cnt">0</em>
                    <div class="ms-auto">
                        <div class="dropdown d-inline-block ms-3">
                            <button class="btn p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-horizontal-rounded text-muted"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item collection-edit-modal-btn" role="button" data-bs-toggle="modal"
                                   data-bs-target="#smallModal">수정</a>
                                <a class="dropdown-item text-danger collection-delete-btn" role="button">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="bookshelf-cont">
                        <div class="position-absolute w-100">
                            <div th:replace="~{common/result-message :: div('추가된 책이 없습니다.')}"></div>
                        </div>

                        <div class="bookshelf ui-library">
                            <div class="books">
                            </div>
                            <div class="more">
                                <a th:href="@{/my/reading-books}" class="">
                                    <i class="bx bx-right-arrow-circle"></i>
                                    <span class="align-middle d-none d-md-inline-block">더보기</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/bookshelf.js}"></script>
<script th:src="@{/assets/js/book-util.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        setUserConfigViewOption(); // 책 목록 뷰 옵션 값 세팅
        setViewOptionButtonEvent(); // 책 목록 뷰 옵션 토글 이벤트 세팅

        setNewCollectionButtonEvent(); // [새 컬렉션] 버튼 이벤트 세팅

        getCollectionList(); // 컬렉션 목록 조회
    });

    /**
     * 컬렉션 생성 버튼 이벤트 세팅
     */
    function setNewCollectionButtonEvent() {
        const button = document.querySelector('.new-collection-modal-btn');
        button.addEventListener('click', function (e) {
            const target = document.querySelector(button.dataset.bsTarget + ' .modal-content');
            const callback = () => {
                const modal = document.querySelector(button.dataset.bsTarget);
                modal.querySelector('.modal-title').textContent = '컬렉션 생성';
            }
            loadHTML('/my/partials/modal-collection-form', target, callback);
        });
    }

    /**
     * 책 목록 뷰 옵션 유저 Config 값 세팅
     */
    async function setUserConfigViewOption() {
        const viewOptionButton = document.getElementById('bookListViewOption');
        const configValue = await getUserConfig('COLLECTION_BOOK_VIEW');
        const labelEl = document.querySelector(`[data-value="${configValue}"]`);

        updateBookViewUI(configValue);
        viewOptionButton.checked = labelEl.dataset.switch === 'on';
    }

    /**
     * 책 목록 뷰 옵션 토글 이벤트 세팅 (UI 이벤트, 유저 Config 저장)
     */
    function setViewOptionButtonEvent() {
        const viewOptionButton = document.getElementById('bookListViewOption');
        viewOptionButton.addEventListener('change', function (e) {
            const selectedOption = viewOptionButton.checked
                ? userConfigValueDict.COLLECTION_BOOK_VIEW.OPTIONS.COVER
                : userConfigValueDict.COLLECTION_BOOK_VIEW.OPTIONS.SPINE;
            const data = {};
            data[userConfigKeyDict.COLLECTION_BOOK_VIEW] = selectedOption;

            updateBookViewUI(selectedOption);
            saveUserConfig(data);
        })
    }

    function updateBookViewUI(option) {
        const viewElements = document.querySelectorAll('.bookshelf');
        viewElements.forEach(el => {
            el.classList.toggle('ui-library', option === 'spine');
            el.classList.toggle('ui-book-cover', option === 'cover');
            hideOverflowingElement(el);
        })
    }


    /**
     * 사용자 컬렉션 목록 조회
     */
    function getCollectionList() {
        hideNoResultsMessage(); // 조회 시작 시 결과 없음 메시지 숨김
        clearCollectionList(); // 이전 목록 초기화
        localLoading(true);

        const promise = axios.get('/api/collections/with-books/me');

        const onSuccess = (result) => {
            const collectionList = result.data;

            if (collectionList.length) {
                setCollectionList(collectionList);
                // TODO: setPagination

                // 책장 UI 초기화
                initializeBookshelfUI();
                // 동적으로 로드되는 html 버튼에 대한 이벤트 세팅
                setCollectionEditButtonEvent();
            } else {
                showNoResultMessage();
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 컬랙션 목록 결과 html 동적 추가
     */
    function setCollectionList(collectionList) {
        const collectionListWrap = document.getElementById('collectionListWrap');
        const templateTag = collectionListWrap.querySelector('.template-tag');

        if (templateTag) {
            for (const item of collectionList) {
                const targetElement = templateTag.cloneNode(true);
                targetElement.classList.remove('template-tag');

                // 컬렉션 정보 세팅
                targetElement.setAttribute('data-col-id', item.id);
                targetElement.querySelector('.col-title').textContent = item.collectionName;
                targetElement.querySelector('.more a').setAttribute('href', '/my/reading-books?collectionId='+item.id);

                // 컬렉션 책 목록 세팅
                const bookList = item.books;
                const resultMsgWrap = targetElement.querySelector('.result-msg-wrap');
                const moreButtonWrap = targetElement.querySelector('.more');
                resultMsgWrap.toggle(bookList.length < 1);
                moreButtonWrap.toggle(bookList.length >= 1);

                if (bookList.length) {
                    targetElement.querySelector('.book-cnt').textContent = bookList.length;

                    let html = '';
                    bookList.forEach(item => html += bookElement(item));

                    targetElement.querySelector('.books').innerHTML = html;
                }

                collectionListWrap.appendChild(targetElement);
            }
        }
    }

    function clearCollectionList() {
        const collectionListWrap = document.getElementById('collectionListWrap');
        while (collectionListWrap.children[1]) { // 첫번째 엘리먼트는 템플릿 태그이므로 제외
            collectionListWrap.removeChild(collectionListWrap.children[1]);
        }
    }


    /**
     * 컬렉션 수정/삭제 버튼 이벤트 세팅
     */
    function setCollectionEditButtonEvent() {
        document.querySelectorAll('.collection-edit-modal-btn').forEach(el => {
            el.addEventListener('click', function (e) {
                showCollectionEditForm(el);
            });
        })

        document.querySelectorAll('.collection-delete-btn').forEach(el => {
            el.addEventListener('click', function(e) {
                const collectionUnitEl = el.closest('.collection-unit');
                deleteCollection(collectionUnitEl);
            });
        })
    }

    // 컬렉션 수정 폼 열기
    function showCollectionEditForm(el) {
        const target = document.querySelector(el.dataset.bsTarget + ' .modal-content');
        const callback = () => {
            const collectionUnitEl = el.closest('.collection-unit');
            const modalForm = document.getElementById('collectionForm');

            modalForm.dataset.id = collectionUnitEl.dataset.colId;
            modalForm.querySelector('[name=collectionName]').value = collectionUnitEl.querySelector('.col-title').textContent;
        }
        loadHTML('/my/partials/modal-collection-form', target, callback);
    }

    // 컬렉션 생성/수정 시 업데이트 사항 (공통 모달에서 호출할 메서드)
    function onCreateCollection(newCollection) {
        getCollectionList();
    }
    function onUpdateCollection(updatedCollection) {
        const collectionEl = document.querySelector(`[data-col-id="${updatedCollection.id}"]`);
        if (collectionEl) {
            collectionEl.querySelector('.col-title').textContent = updatedCollection.collectionName;
        }
    }

    // 컬렉션 삭제
    function deleteCollection(el) {
        const id = el.dataset.colId;
        const name = el.querySelector('.col-title').textContent;
        const content = `${name} 컬렉션이 삭제됩니다.`;

        confirmDeleteModal(content)
            .then(() => {
                globalLoading(true);

                const promise = axios.delete(`/api/collections/${id}`);

                const onSuccess = (result) => {
                    closeUIComponents();
                    getCollectionList();
                };

                handleApiResponse(promise, onSuccess);
            })
    }

</script>
</body>
</html>
