<footer th:fragment="footer" class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            &copy; 2024 BOOCHIVE. All rights reserved. Designed with
            <a href="https://themeselection.com" target="_blank" class="footer-link fw-medium">ThemeSelection</a>,
            <a href="https://untree.co/" target="_blank" class="footer-link fw-medium">Untree.co</a>.
            Additional design elements by Me.
        </div>
    </div>
</footer>