<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar"
     th:fragment="nav">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <form th:action="@{/books}" method="get" class="w-75" id="searchForm">
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center w-100">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" name="query"
                           th:value="${param.query}" placeholder="책 제목 검색" />
                </div>
            </div>
            <script>
                /**
                 * 검색어 필수값 검사
                 */
                const searchForm = document.getElementById('searchForm');
                searchForm.addEventListener('submit', function(event) {
                    const requiredValue = searchForm.querySelector('[name=query]').value;
                    if (!requiredValue.trim()) {
                        const content = '검색어를 입력해 주세요.';
                        showToast(content, 'warning');
                        event.preventDefault();
                    }
                })
            </script>
        </form>
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- TODO: Notification -->
            <!--            <li class="nav-item lh-1 me-3">-->
            <!--                <a href="#" class="btn btn-md btn-outline-secondary">-->
            <!--                    <span class="tf-icons bx bx-bell me-1"></span>-->
            <!--                    <span class="badge ms-1">4</span>-->
            <!--                </a>-->
            <!--            </li>-->

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown"
                   href="javascript:void(0);">
                    <div class="avatar">
                        <img class="w-px-40 rounded-circle img-thumbnail user-profile"/>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item disabled text-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar">
                                        <img alt class="w-px-40 rounded-circle img-thumbnail user-profile"/>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-medium d-block user-name"><!-- 데이터 동적 로드 --></span>
                                    <small class="text-muted user-email"><!-- 데이터 동적 로드 --></small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/settings/account-setting}">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">계정</span>
                        </a>
                    </li>
                    <!-- TODO: 소셜 연동, 앱 설정 -->
                    <!--                    <li>-->
                    <!--                        <a class="dropdown-item" th:href="@{/settings/social-setting}">-->
                    <!--                            <i class="bx bx-link-alt me-2"></i>-->
                    <!--                            <span class="align-middle">소셜 연동</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a class="dropdown-item" th:href="@{/settings/app-setting}">-->
                    <!--                            <i class="bx bx-cog me-2"></i>-->
                    <!--                            <span class="align-middle">앱 설정</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <form th:action="@{/api/auth/logout}" method="post">
                            <button class="dropdown-item text-primary">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">로그아웃</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>

<script>

</script>
