<div th:fragment="div" class="bs-toast toast toast-placement-ex m-2 top-0 end-0 fade" id="toastCont" role="alert"
     aria-live="assertive" aria-atomic="true" data-bs-delay="3000" data-status="">
    <div class="toast-side">
        <i class="bx"></i>
    </div>
    <div class="toast-content">
        <div class="toast-header">
            <div class="toast-title"></div>
        </div>
        <div class="toast-body">
            저장에 성공했습니다.
        </div>
    </div>
    <div class="toast-side">
        <a href="#" data-bs-dismiss="toast">
            <i class="bx bx-x"></i>
        </a>
    </div>
</div>
