<div class="card">
    <form id="noteDetailForm">
    </form>
</div>

<script id="note-view-template" type="text/x-handlebars-template">
    <div class="card-header d-flex justify-content-end pb-0">
        <div class="dropdown">
            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                    data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" role="button" id="changeEditMode">수정</a>
                <a class="dropdown-item text-danger" role="button" id="deleteNoteBtn">삭제</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mt-2 mb-3 mb-md-4 ">
            {{#if attachmentImage}}
                <div class="image-zoom-control zoom-out">
                    <img class="img-thumbnail" src="{{uploadUrl attachmentImage}}">
                    <!--                <div class="carousel-caption d-none d-md-block">-->
                    <!--                    <h3>First slide</h3>-->
                    <!--                    <p>Eos mutat malis maluisset et, agam ancillae quo te, in vim congue pertinacia.</p>-->
                    <!--                </div>-->
                </div>
            {{else}}
                <div class="form-border overflow-auto p-0" style="height: 30vh;">
                    <div class="card-img-overlay">
                        {{{highlight noteText backgroundColor}}}
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">책 선택</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <select class="lc-select" name="simple" disabled>
                    {{#with bookInfo}}
                        <option value="{{isbn13}}" data-image="{{cover}}" selected>{{title}}</option>
                    {{/with}}
                </select>
            </div>
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">페이지</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                {{#if pageNumber}} <p>{{pageNumber}} <em>p</em></p> {{/if}}
            </div>
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">작성일자</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <p>{{createDate}}</p>
            </div>
        </div>

        <div class="row mb-3 mb-md-4">
            <label class="col-3 col-sm-2 col-form-label">공개여부</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                {{#if isPublic}}
                    <span class="badge bg-label-success">전체 공개</span>
                {{else}}
                    <span class="badge bg-label-primary">비공개</span>
                {{/if}}
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="collapse">닫기</button>
        </div>
    </div>
</script>

<script id="note-edit-template" type="text/x-handlebars-template">
    <div class="card-body">
        <div class="mb-2 mb-md-3">
            <div class="list-group list-group-horizontal text-md-center mb-3" role="tablist">
                <a class="list-group-item list-group-item-md list-group-item-action w-auto {{#unless note.noteText}} active {{/unless}}"
                   data-bs-toggle="list" href="#imageSelect" aria-selected="true" role="tab">
                    이미지 선택
                </a>
                <a class="list-group-item list-group-item-md list-group-item-action w-auto {{#if note.noteText}} active {{/if}}"
                   data-bs-toggle="list" href="#directInput" aria-selected="false" role="tab">
                    직접 입력
                </a>
            </div>

            <div class="tab-content p-0">
                <div class="tab-pane fade {{#unless note.noteText}} active show {{/unless}}" id="imageSelect"
                     role="tabpanel">
                    <div class="d-flex align-items-start justify-content-between form-border p-2" style="height: 24vh;">
                        <label for="upload" class="btn square p-0 position-relative h-100">
                            <div class="z-1 bg-white align-self-baseline">
                                <img class="img-thumbnail square img-preview"
                                    {{#if note.attachmentImage}}
                                        src="{{uploadUrl note.attachmentImage}}"
                                        data-src="{{uploadUrl attachmentImage}}"
                                    {{/if}}>
                            </div>
                            <div class="img-thumbnail-overlay flex-center text-muted z-0"
                                 style="border: 1px dashed rgba(0, 0, 0, 0.3);">
                                <i class="bx bx-upload me-1"></i>
                                <span>사진 업로드</span>
                            </div>
                            <input type="hidden" name="attachmentImage"
                                {{#with note}} value="{{attachmentImage}}" {{/with}}>
                            <input type="file" id="upload" class="img-input" accept="image/*" hidden/>
                        </label>
                    </div>
                </div>

                <div class="tab-pane fade {{#if note.noteText}} active show {{/if}}" id="directInput" role="tabpanel">
                    <div class="form-border overflow-auto mb-2" style="height: 24vh;">
                        <div id="editor"></div>
                    </div>
                    <div class="row">
                        <label class="col-3 col-sm-2 col-form-label">하이라이트 색상</label>
                        <div class="col-9 col-sm-10 d-flex align-items-center">
                            <input type="color" list="presetColors" name="backgroundColor" id="markerColor"
                                   value="{{default note.backgroundColor defaultHighlightColor}}">
                            <datalist id="presetColors">
                                {{#each highlightColorOptions}}
                                    <option value="{{this}}"></option>
                                {{/each}}
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">책 선택</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <div class="w-100">
                    <select class="lc-select" name="bookIsbn" {{#if note.id}} disabled {{/if}}>
                        {{#with note.bookInfo}}
                                <option value="{{isbn13}}" data-image="{{cover}}" selected>{{title}}</option>
                        {{else}}
                            {{#each bookOptions}}
                                <optgroup label="{{@key}}">
                                    {{#each this}}
                                        <option value="{{isbn13}}" data-image="{{cover}}">{{title}}</option>
                                    {{/each}}
                                </optgroup>
                            {{/each}}
                        {{/with}}
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">페이지</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <div>
                    <div class="input-group">
                        <input type="number" class="form-control text-end" name="pageNumber"
                            {{#with note}} value="{{pageNumber}}" {{/with}}>
                        <span class="input-group-text">p</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-md-3">
            <label class="col-3 col-sm-2 col-form-label">작성일자</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <input type="date" class="form-control" name="createDate" value="{{defaultDate note.createDate}}">
            </div>
        </div>

        <div class="row mb-3 mb-md-4">
            <label class="col-3 col-sm-2 col-form-label">공개여부</label>
            <div class="col-9 col-sm-10 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isPublic" value="0"
                        {{#unless note.isPublic}} checked {{/unless}}>
                    <label class="form-check-label">비공개</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isPublic" value="1"
                        {{#if note.isPublic}} checked {{/if}}>
                    <label class="form-check-label">전체 공개</label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <button type="submit" class="btn btn-primary me-2">저장</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="collapse">취소</button>
            </div>
            {{#if note.id}}
                <button type="button" class="btn btn-outline-danger" id="deleteNoteBtn">삭제</button>
            {{/if}}
        </div>
    </div>
</script>

<script>
    /**
     * 노트 저장 및 삭제
     */
    // HTML 템플릿 렌더링 후 이벤트 세팅
    function setModalEventAfterRender() {
        Helpers.initializeLCSelect();

        setImagePreviewFeature();
        setImageZoomControlFeature();

        // 편집 모드 전환 ('수정' 버튼)
        const editModeBtn = document.getElementById('changeEditMode');
        if (editModeBtn) {
            editModeBtn.addEventListener('click', function (event) {
                const form = event.target.closest('form');
                showDetailCard(form.dataset.id, 'edit');
            });
        }

        // 저장
        document.getElementById('noteDetailForm').addEventListener('submit', function (event) {
            event.preventDefault();
            saveNote();
        })

        // 삭제
        const deleteButton = document.getElementById('deleteNoteBtn');
        if (deleteButton) {
            deleteButton.addEventListener('click', function (event) {
                const content = '삭제한 노트는 복구가 불가능합니다.<br/>그래도 삭제하시겠습니까?'
                confirmDeleteModal(content).then(deleteNote);
            })
        }

        // 노트 저장 타입(이미지 선택/직접 입력) 변환 시 폼 데이터 초기화
        const tabs = document.querySelectorAll('#noteDetailForm [data-bs-toggle="list"]')
        tabs.forEach(el => {
            el.addEventListener('shown.bs.tab', function (event) {
                const currentFormTab = document.querySelector(el.getAttribute('href'));
                const attachmentImage = currentFormTab.querySelector('[name=attachmentImage]'); // 이미지 선택
                const noteText = currentFormTab.querySelector('#editor'); // 직접 입력
                const backgroundColor = currentFormTab.querySelector('[name=backgroundColor]');

                if (attachmentImage) {
                    // [이미지 선택] 폼
                    const imagePreview = document.querySelector('.img-preview');
                    const imageInput = document.querySelector('.img-input');

                    attachmentImage.value = attachmentImage.defaultValue;
                    imagePreview.setAttribute('src', imagePreview.dataset.src ?? '');
                    imageInput.value = '';
                } else if (noteText) {
                    // [직접 입력] 폼
                    backgroundColor.value = backgroundColor.defaultValue;
                    noteEditor.reset();
                }
            })

            // 하이라이트 색상 이벤트
            const backgroundColor = document.querySelector('input[name=backgroundColor]');
            if (backgroundColor) {
                backgroundColor.addEventListener('change', function () {
                    const editorMarkers = document.querySelectorAll('mark.cdx-marker');
                    editorMarkers.forEach(el => {
                        el.style.cssText = `background: ${backgroundColor.value};`;
                    })
                })
            }
        })
    }

    // 첨부 이미지 업로드
    async function uploadImageFile() {
        const form = document.getElementById('noteDetailForm');
        const file = document.getElementById('upload').files[0];

        // 업로드할 이미지 없으면 생략
        if (!file) return;

        // 폼 데이터 전처리
        const data = new FormData();
        data.append("noteId", form.dataset.id);
        data.append("file", file);

        try {
            const response = await axios.post(`/api/reading-notes/upload`, data, {
                headers: { 'Content-Type': 'multipart/form-data' }
            });
            return response.data.data; // 서버에서 반환된 파일 URL
        } catch (error) {
            console.error('파일 업로드 실패:', error);
            throw error;
        }
    }

    async function saveNote() {
        globalLoading(true);

        // 폼 데이터 전처리
        const form = document.getElementById('noteDetailForm');
        const data = formToJson(new FormData(form));
        await noteEditor.getContent().then(result => data['noteText'] = result);

        // 노트 저장 타입(이미지 선택/직접 입력)에 따라 폼 데이터 리셋
        const activedForm = form.querySelector('.tab-pane.active');
        if (activedForm.id === 'imageSelect') {
            // [이미지 선택] 폼
            const attachmentImageUrl = await uploadImageFile();
            if (attachmentImageUrl) {
                data['attachmentImage'] = attachmentImageUrl;
            }
            delete data['noteText'];  // 텍스트 필드를 제거
            delete data['backgroundColor'];  // 하이라이트 컬러 필드를 제거
        } else {
            // [직접 입력] 폼
            delete data['attachmentImage'];  // 이미지 필드를 제거
        }

        const id = form.dataset.id;
        const promise = id
            ? axios.put(`/api/reading-notes/highlight/${id}`, data)
            : axios.post(`/api/reading-notes/highlight`, data);

        const onSuccess = (result) => {
            getNoteList();
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }

    function deleteNote() {
        globalLoading(true);

        const form = document.getElementById('noteDetailForm');
        const id = form.dataset.id;

        if (!id) { // 삭제 예외 처리
            globalLoading(false);
            return false;
        }

        const promise = axios.delete(`/api/reading-notes/${id}`)

        const onSuccess = (result) => {
            getNoteList();
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>