<div class="carousel-inner-top-bar">
    <i class="bx bxs-bookmark fs-2"></i>
</div>
<!-- 이전 독서 기간 + 기록 변경 버튼 -->
<div class="carousel-item active">
    <a href="#" id="readingDateEditCanvasBtn" data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasCont" aria-controls="offcanvasCont">
        <p class="text-muted">
            <small>2023. 6. 1 ~ 2023. 6. 28</small>
            <i class="bx bx-pencil bx-xxs"></i>
        </p>
        <p class="text-center">
            <em class="text-primary fw-medium fs-4">1</em> 번 읽었습니다.
        </p>
        <p class="text-center text-muted">
            <small>탭해서 완독일 변경</small>
        </p>
    </a>
</div>
