<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 책 검색결과</title>
    <link rel="stylesheet" th:href="@{/assets/css/book.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/star-rating/star-rating.css}"/>
</head>

<body th:replace="~{layouts/base :: _body('book-result', ~{::div}, ~{::script}, false)}">
<div class="container-xxl flex-grow-1 container-p-y">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="btn-link" th:href="@{/}">홈</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="text-primary" th:text="${param.query}"></span>에 대한 검색 결과
        </li>
    </ol>

    <div class="card">
        <div class="card-body" id="contentCard">
            <div th:replace="~{common/loading :: local}"></div>
            <div th:replace="~{common/result-message :: div(_)}"></div>

            <ul id="bookSearchList" class="tp-list">
                <li class="dataset-el template-tag">
                    <div class="item-unit row">
                        <div class="item-img">
                        <span class="img-item">
                            <a href="">
                                <img class="img-thumbnail" src="">
                            </a>
                        </span>
                        </div>
                        <div class="item-info">
                            <div class="info-num d-none d-md-block">
                                <span class="badge bg-gray text-white fw-bold">
                                    <!-- 데이터 동적 로드 -->
                                </span>
                            </div>

                            <div class="info-name">
                                <a href="" class="bk-name btn-link"><!-- 데이터 동적 로드 --></a>
                            </div>

                            <div class="info-pub-grp">
                                <span class="info-auth">
                                    <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 저
                                    <span class="d-none">
                                        <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 역
                                    </span>
                                </span>
                                <span class="info-pub">
                                    <span class="horizontal-divider"></span>
                                    <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a>
                                </span>
                                <span class="info-date d-none d-sm-inline-block">
                                    <span class="horizontal-divider"></span>
                                    <a><!-- 데이터 동적 로드 --></a>
                                </span>
                            </div>

                            <div class="info-detail d-none d-md-block">
                                <p class="bk-intro ellipsis">
                                    <!-- 데이터 동적 로드 -->
                                </p>
                            </div>

                            <div class="info-rating-wrap mt-auto">
                                <div class="info-rating d-none d-sm-block">
                                    <span class="sale-num">
                                        독자수 <em>0<!-- 데이터 동적 로드 --></em>
                                    </span>
                                    <span class="rating-rv-count me-1">
                                        <span class="horizontal-divider"></span>
                                        리뷰(<em class="text-primary">0<!-- 데이터 동적 로드 --></em>건)
                                    </span>
                                    <span class="rating-grade">
                                        <select class="star-rating star-rt-sm" data-value="" data-range="10" disabled>
                                        </select>
                                    </span>
                                </div>

                                <div class="info-rating d-inline-block d-sm-none">
                                    <span class="rating-grade">
                                        <select class="star-rating star-rt-sm non-label" data-value="" data-range="10"
                                                disabled>
                                        </select>
                                    </span>
                                    <span class="rating-detail">
                                        독자수 <em class="sale-num">0<!-- 태그 동적으로 추가될 때 입력 (data-value) --></em>
                                        리뷰수 <em class="rating-rv-count">0<!-- 태그 동적으로 추가될 때 입력 (data-value) --></em>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-btn-col">
                            <div th:replace="~{common/reading-list-button :: button_group}"></div>
                        </div>
                    </div>
                </li>
            </ul>

            <nav th:replace="~{common/pagination :: nav}"></nav>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendor/libs/star-rating/star-rating.js}"></script>
<script th:src="@{/assets/js/rating-util.js}"></script>
<script th:src="@{/assets/js/book-util.js}"></script>
<script async>
    loadUserCollectionList();
</script>
<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        getSearchResult();
    });

    /**
     * 책 검색 (쿼리스트링을 통해 파라미터 자동 처리)
     */
    function getSearchResult() {
        hideNoResultsMessage(); // 검색 시작 시 결과 없음 메시지 숨김
        clearPageButtons(); // 페이지네이션 버튼 초기화
        clearBookList(); // 이전 검색 결과 목록 초기화
        localLoading(true);

        const promise = axios.get('/api/books/search'+window.location.search);

        const onSuccess = (result) => {
            const data = result.data;
            const searchResult = data.searchResult;
            if (searchResult.item.length) {
                setBookList(data);
                setPagination(searchResult.startIndex, searchResult.totalPages);
            } else {
                showNoResultMessage();
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 책 검색 결과 html 동적 추가
     */
    function setBookList(data) {
        const { searchResult, readingInfoList } = data;
        const bookListWrap = document.getElementById('bookSearchList');
        const templateTag = bookListWrap.querySelector('.template-tag');

        if (templateTag) {
            searchResult.item.forEach((item, idx) => {
                const targetElement = templateTag.cloneNode(true);
                targetElement.classList.remove('template-tag');

                // 책 정보 세팅
                targetElement.dataset.bkId = item.isbn13;

                targetElement.querySelector('.img-item a').setAttribute('href', '/books/detail/'+item.isbn13);
                targetElement.querySelector('.img-item img').setAttribute('src', item.cover);
                targetElement.querySelector('.info-num span').textContent = calculateRowIndex(searchResult.startIndex, searchResult.itemsPerPage, idx+1);
                targetElement.querySelector('.info-name a').setAttribute('href', '/books/detail/'+item.isbn13);
                targetElement.querySelector('.info-name a').textContent = item.title;
                targetElement.querySelector('.info-auth > a').textContent = item.formatAuthor;
                if (item.translator) {
                    targetElement.querySelector('.info-auth > span').classList.remove("d-none");
                    targetElement.querySelector('.info-auth > span > a').textContent = item.translator;
                }
                targetElement.querySelector('.info-pub a').textContent = item.publisher;
                targetElement.querySelector('.info-date a').textContent = item.pubDate;
                targetElement.querySelector('.info-detail .bk-intro').innerHTML = item.description;

                // 책 관련 통계 세팅 (독자 수, 리뷰 수, 평균 평점)
                updateBookStatistics(item.subInfo, targetElement);

                // 컬렉션 버튼 목록 세팅
                if (cachedUserCollectionList) {
                    setCollectionButtonOptions(cachedUserCollectionList, targetElement);
                }

                // 사용자의 독서 상태 및 컬렉션 정보 세팅 + 버튼 UI 업데이트
                const readingInfo = readingInfoList[item.isbn13] || {};
                onUpdateReadingInfo(readingInfo, targetElement);

                bookListWrap.appendChild(targetElement);
            })
        }
    }

    function clearBookList() {
        const bookListWrap = document.getElementById('bookSearchList');
        while (bookListWrap.children[1]) { // 첫번째 엘리먼트는 템플릿 태그이므로 제외
            bookListWrap.removeChild(bookListWrap.children[1]);
        }
    }
</script>
</body>
</html>
