<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 책 상세</title>
    <link rel="stylesheet" th:href="@{/assets/css/book.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/star-rating/star-rating.css}"/>
</head>

<body th:replace="~{layouts/base :: _body('book-detail', ~{::div}, ~{::script}, false)}">
<div class="container-xxl flex-grow-1 container-p-y">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="btn-link" th:href="@{/}">홈</a>
        </li>
        <li class="breadcrumb-item active">도서 상세</li>
    </ol>

    <div class="row dataset-el">
        <!-- 책 정보 -->
        <div class="col-100 col-lg-70 mb-4 order-0">
            <div class="card">
                <div class="card-body">
                    <div class="item-detail row">
                        <div class="item-img">
                        <span class="img-item">
                            <img class="img-thumbnail" src="">
                        </span>
                        </div>
                        <div class="item-info">
                            <div class="info-name">
                                <p class="bk-name"><!-- 데이터 동적 로드 --></p>
                            </div>

                            <div class="info-pub-grp">
                                <span class="info-auth">
                                    <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 저
                                    <span class="d-none">
                                        <a class="btn-link fw-medium" href=""><!-- 데이터 동적 로드 --></a> 역
                                    </span>
                                </span>
                                <span class="info-pub">
                                    <span class="horizontal-divider"></span>
                                    <a class="btn-link fw-medium" href="">
                                        <!-- 데이터 동적 로드 -->
                                    </a>
                                </span>
                                <span class="info-date d-none d-sm-inline-block">
                                    <span class="horizontal-divider"></span>
                                    <a>
                                        <!-- 데이터 동적 로드 -->
                                    </a>
                                </span>
                            </div>

                            <div class="info-tag">
                            </div>

                            <div class="info-detail">
                                <div class="bk-page">
                                    쪽수 : <em><!-- 데이터 동적 로드 --></em>p
                                </div>
                                <div class="bk-isbn">
                                    ISBN : <em><!-- 데이터 동적 로드 --></em>
                                </div>
                            </div>

                            <div class="info-rating-wrap mt-auto">
                                <div class="info-rating">
                                    <span class="sale-num">
                                        독자수 <em>0<!-- 데이터 동적 로드 --></em>
                                    </span>
                                    <span class="rating-rv-count me-1">
                                        <span class="horizontal-divider"></span>
                                        리뷰(<em class="text-primary">0<!-- 데이터 동적 로드 --></em>건)
                                    </span>
                                    <span class="rating-grade">
                                        <select class="star-rating star-rt-sm" data-value="" data-range="10" disabled>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 리뷰/평점, 책 소개, 목차 -->
        <div class="col-100 col-lg-70 mb-4 order-4 order-lg-2">
            <div class="nav-align-top">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-review" aria-controls="navs-review" aria-selected="true"
                                tabindex="-1">
                            리뷰/평점
                        </button>
                    </li>
                    <!-- TODO: 알라딘 API 기본 스펙에는 소개와 목차 기능 제공 X <- 추후 가능하면 개발 -->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"-->
<!--                                data-bs-target="#navs-intro" aria-controls="navs-intro"-->
<!--                                aria-selected="false" tabindex="-1">-->
<!--                            책 소개-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"-->
<!--                                data-bs-target="#navs-chapter" aria-controls="navs-chapter"-->
<!--                                aria-selected="false">-->
<!--                            목차-->
<!--                        </button>-->
<!--                    </li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="navs-review" role="tabpanel">
                        <div th:replace="~{common/result-message :: div('등록된 리뷰가 없습니다.')}"></div>

                        <ul class="rv-list">
                            <li class="template-tag">
                                <div class="rv-unit">
                                    <div class="rv-left avatar">
                                        <img src="" class="img-fluid rounded-circle"/>
                                    </div>
                                    <div class="rv-right">
                                        <span class="rv-user"><!-- 데이터 동적 로드 --></span>
                                        <div class="rv-info">
                                            <span class="rating-grade rv-rating">
                                                <select class="star-rating star-rt-sm non-label" data-value=""
                                                        data-range="10" disabled>
                                                </select>
                                            </span>
                                            <span class="horizontal-divider"></span>
                                            <span class="rv-date"><!-- 데이터 동적 로드 --></span>
                                        </div>
                                        <div class="rv-content">
                                            <div class="ellipsis line-clamp-3"><!-- 데이터 동적 로드 --></div>
                                            <span class="more-btn" role="button">더보기</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="navs-intro" role="tabpanel">
                        <h4 class="mb-3 fw-bold">책 소개</h4>
                        <div class="intro-bottom">
                            <div class="info-text fw-bold"></div>
                            <div class="info-text">
                            </div>
                            <div class="info-text">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-chapter" role="tabpanel">
                        <h4 class="mb-3 fw-bold">목차</h4>
                        <ul class="book-contents-list">
                            <li class="book-contents-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 내 독서 관리 -->
        <div class="col-100 col-md-50 col-lg-30 mb-4 order-1">
            <div class="card">
                <div class="row row-bordered g-0">
                    <div class="col-12">
                        <h5 class="card-header">내 독서 관리</h5>
                        <div class="card-body position-relative">
                            <div id="readingStatusCarouselCard" class="carousel slide"
                                 data-bs-ride="false">
<!--                                <div class="carousel-indicators">-->
<!--                                    <button type="button" class="bg-secondary" data-bs-target="#readingStatusCarouselCard" data-bs-slide-to="0"></button>-->
<!--                                </div>-->
                                <div class="carousel-inner">
                                    <!-- 데이터 동적 로드 -->
                                </div>
                                <a class="carousel-control-prev" href="#readingStatusCarouselCard" role="button"
                                   data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"
                                          aria-hidden="true">
                                        <i class="bx bxs-chevron-left text-secondary"></i>
                                    </span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#readingStatusCarouselCard" role="button"
                                   data-bs-slide="next">
                                    <span class="carousel-control-next-icon"
                                          aria-hidden="true">
                                         <i class="bx bxs-chevron-right text-secondary"></i>
                                    </span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <div class="item-btn-col flex-row flex-grow-all">
                                <div th:replace="~{common/reading-list-button :: button_group('L')}"></div>
                                <div class="btn-group text-nowrap">
                                    <button type="button" class="btn btn-md btn-outline-dark" id="purchaseHistEditModalBtn"
                                            data-bs-toggle="modal" data-bs-target="#smallModal">
                                        구매 이력 기록
                                    </button>
                                    <button type="button" class="btn btn-md btn-outline-dark" id="rentalHistEditModalBtn"
                                            data-bs-toggle="modal" data-bs-target="#smallModal">
                                        대여 이력 기록
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 내 독서 노트 (내 리뷰) -->
        <div class="col-100 col-md-50 col-lg-30 order-2 order-lg-3">
            <div class="card mb-4">
                <h5 class="card-header">내 독서 노트</h5>
                <div class="card-body">
                    <div class="list-group">
                        <a th:href="@{/notes/pencil-note(book=1)}"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-between w-100">
                                <span class="fw-medium">연필</span>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <small class="text-muted">
                                <i class="bx bx-pencil bx-xs me-1"></i>책에 대한 나의 생각을 정리해 보세요.
                            </small>
                        </a>
                        <a th:href="@{/notes/highlight-note(book=1)}"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-between w-100">
                                <span class="fw-medium">형광펜</span>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <small class="text-muted">
                                <i class="bx bx-highlight bx-xs me-1"></i>인상깊은 구절을 남겨보세요.
                            </small>
                        </a>
                        <a href="javascript:void(0);" id="postItCanvasBtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCont"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-between w-100">
                                <span class="fw-medium">포스트잇</span>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <small class="text-muted">
                                <i class="bx bx-tag bx-xs me-1"></i>간단한 한 줄 메모를 해보세요.
                            </small>
                        </a>
                        <a href="javascript:void(0);"
                           class="list-group-item list-group-item-action flex-column align-items-start under-construction">
                            <div class="d-flex justify-content-between w-100">
                                <span class="fw-medium">독서 카드</span>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <small class="text-muted">
                                <i class="bx bx-credit-card-front bx-xs me-1"></i>나만의 독서 카드를 만들어 보세요.
                            </small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card d-none d-lg-flex">
                <h5 class="card-header">내 리뷰</h5>
                <div class="card-body">
                    <div class="rv-wrap" id="reviewEditModalBtn" role="button" data-bs-toggle="modal"
                         data-bs-target="#mediumModal">
                        <div class="rating-grade mb-1">
                            <select class="star-rating non-label" data-value="" data-range="10" disabled></select>
                        </div>
                        <div class="rv-content mb-2">
                            <div class="ellipsis line-clamp-2"><!-- 데이터 동적 로드 --></div>
                            <span class="text-muted d-none">이 책은 어땠나요?</span>
                        </div>
                        <div class="rv-sub">
                            <small class="rv-date"><!-- 데이터 동적 로드 --></small>
                            <i class="bx bx-pencil bx-xxs text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 내 리뷰 -->
        <div class="col-100 col-lg-30 mb-4 d-flex d-lg-none order-3">
            <div class="card w-100">
                <h5 class="card-header">내 리뷰</h5>
                <div class="card-body">
                    <div class="rv-wrap" id="reviewEditModalBtn" role="button" data-bs-toggle="modal"
                         data-bs-target="#largeModal">
                        <div class="rating-grade mb-1">
                            <select class="star-rating non-label" data-value="" data-range="10" disabled></select>
                        </div>
                        <div class="rv-content mb-2">
                            <div class="ellipsis line-clamp-2"><!-- 데이터 동적 로드 --></div>
                            <span class="text-muted d-none">이 책은 어땠나요?</span>
                        </div>
                        <div class="rv-sub">
                            <small class="rv-date"><!-- 데이터 동적 로드 --></small>
                            <i class="bx bx-pencil bx-xxs text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendor/libs/star-rating/star-rating.js}"></script>
<script th:src="@{/assets/js/rating-util.js}"></script>
<script th:src="@{/assets/js/book-util.js}"></script>
<script th:src="@{/assets/js/editor-util.js}"></script>
<script>
    const queryParameters = window.location.pathname.split('/');
    const bookIsbn = queryParameters[queryParameters.length - 1];
    let userCollectionList = [];

    document.addEventListener('DOMContentLoaded', function (e) {
        // 로그인 유저 컬렉션 목록 가져오기
        getUserCollectionList().then(list => {
            if (list.length) { // 컬렉션 버튼 목록 세팅
                setCollectionButtonOptions(list);
            }
        })

        lookupBook(); // 책 상세 조회 결과 세팅
        loadReviewData(); // 리뷰 목록 및 사용자 리뷰 데이터 세팅

        // [독서 목록에 추가] 버튼 이벤트 세팅
        setReadingListButtonEvent();
    });

    /**
     * (HTML 동적 로드) 모달, 오프캔버스
     */
    document.addEventListener('click', function (event) {
        const el = event.target;
        const toggleEl = el.closest('[data-bs-toggle=modal], [data-bs-toggle=offcanvas]')
        if (toggleEl) {
            let url = null;
            let target = document.querySelector(`${toggleEl.dataset.bsTarget} .content`);
            let callback = null;

            switch (toggleEl.id) {
                case 'readingTimerOpenModalBtn': // 독서 타이머 모달
                    url = '/common/reading-timer';
                    target = document.querySelector(`${toggleEl.dataset.bsTarget} .modal-body`);
                    callback = () => {
                        document.querySelector(`${toggleEl.dataset.bsTarget} .modal-title`).innerText = '독서 타이머';
                    }
                    break;
                case 'postItCanvasBtn': // 포스트잇 오프캔버스
                    url = '/notes/offcanvas-post-it-detail';
                    // TODO
                    break;
                case 'purchaseHistEditModalBtn': // 도서 구매 이력 기록 모달
                    url = '/books/partials/modal-purchase-hist-edit';
                    callback = () => setPurchaseHistoryModalFormData();
                    break;
                case 'rentalHistEditModalBtn': // 도서 대여 이력 기록 모달
                    url = '/books/partials/modal-rental-hist-edit';
                    callback = () => setRentalHistoryModalFormData();
                    break;
                case 'reviewEditModalBtn': // 도서 리뷰 수정 모달
                    url = '/books/partials/modal-review-edit';
                    callback = () => setReviewModalFormData();
                    break;
                case 'readingRecordEditBtn': // 현재 독서 이력 수정 모달
                    url = '/books/partials/modal-reading-record-edit';
                    callback = () => setReadingRecordCanvasForm();
                    break;
                // case 'readingTimeEditBtn': // 독서시간 이력 수정 오프캔버스
                //     url = '/books/partials/offcanvas-reading-time-log-edit';
                //     // TODO
                //     break;
                case 'readDateEditBtn': // 완독 이력 수정 오프캔버스
                    url = '/books/partials/offcanvas-completed-reading-record-edit';
                    callback = () => setCompletedReadingRecordCanvasForm();
                    break;
            }

            if (url) {
                loadHTML(url, target, callback);
            }
        }
    })


    /**
     * 책 조회 (쿼리 파라미터를 통해 파라미터 자동 처리)
     */
    function lookupBook() {
        globalLoading(true);

        const promise = axios.get(`/api/books/detail/${bookIsbn}`);

        const onSuccess = (result) => {
            setBookData(result.data);
            // 동적으로 로드되는 html 버튼에 대한 이벤트 세팅
            setCollectionButtonEvent();
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 책 조회 결과 html 동적 세팅
     */
    function setBookData(data) {
        const { lookupResult, readingInfo } = data;
        const categoryTag = (text) => `<span class="tag"><a href="javascript:void(0);">${text}</a></span>`;

        const item = lookupResult.item[0];
        const targetElement = document.querySelector('.dataset-el')

        // 책 정보 세팅
        targetElement.dataset.bookIsbn = item.isbn13;
        targetElement.querySelector('.img-item img').setAttribute('src', item.cover);
        targetElement.querySelector('.info-name p').textContent = item.title;
        targetElement.querySelector('.info-auth > a').textContent = item.formatAuthor;
        if (item.translator) {
            targetElement.querySelector('.info-auth > span').classList.remove("d-none");
            targetElement.querySelector('.info-auth > span > a').textContent = item.translator;
        }
        targetElement.querySelector('.info-pub a').textContent = item.publisher;
        targetElement.querySelector('.info-date a').textContent = item.pubDate;
        for (const category of item.categoryList) {
            targetElement.querySelector('.info-tag').insertAdjacentHTML('beforeend', categoryTag(category));
        }
        targetElement.querySelector('.info-detail .bk-page em').textContent = item.subInfo.itemPage;
        targetElement.querySelector('.info-detail .bk-isbn em').textContent = `${item.isbn13} (${item.isbn})`;

        // 책 관련 통계 세팅 (독자 수, 리뷰 수, 평균 평점)
        updateBookStatistics(item.subInfo, targetElement);

        // 사용자의 독서 상태 및 컬렉션 정보 세팅 + 관련 UI 업데이트
        onUpdateReadingInfo(readingInfo, targetElement);
    }

    /**
     * 리뷰 목록 조회 (쿼리 파라미터를 통해 파라미터 자동 처리)
     */
    function loadReviewData() {
        hideNoResultsMessage();
        clearReviewList();
        globalLoading(true);

        const promise = axios.get(`/api/reviews/book/${bookIsbn}`);

        const onSuccess = (result) => {
            const { reviewList, userReview } = result.data;

            if (reviewList.length) {
                appendReviewElement(reviewList);
                // TODO: setPagination
                // 동적으로 로드되는 html 버튼에 대한 이벤트 세팅
                setReviewButtonEvent();
            } else {
                showNoResultMessage();
            }

            // 사용자 리뷰 세팅
            setUserReviewSummaryData(userReview);
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 리뷰 목록 결과 html 동적 추가
     */
    function appendReviewElement(reviewList) {
        const reviewListWrap = document.querySelector('.rv-list');
        const templateTag = reviewListWrap.querySelector('.template-tag');

        if (templateTag) {
            reviewList.forEach((item, idx) => {
                const targetElement = templateTag.cloneNode(true);
                targetElement.classList.remove('template-tag');

                // 리뷰 내용 및 사용자 정보
                setProfileImage(item.reviewerProfile,  targetElement.querySelector('.rv-left img'))
                targetElement.querySelector('.rv-user').textContent = item.reviewerName;
                targetElement.querySelector('.rv-date').textContent = item.createdDate;
                const reviewContent = targetElement.querySelector('.rv-content div');
                reviewContent.innerHTML = item.reviewText;

                // 평점(별점)
                const ratingEl = targetElement.querySelector('.star-rating');
                ratingEl.dataset.value = item.rating;
                initializeStarRating(ratingEl);

                reviewListWrap.appendChild(targetElement);

                // 더보기 버튼
                targetElement.querySelector('.more-btn').style.display = checkOverflow(reviewContent) ? 'block' : 'none';
            })
        }
    }

    function clearReviewList() {
        const reviewListWrap = document.querySelector('.rv-list');
        const reviewList = reviewListWrap.querySelectorAll('.rv-list li:not(.template-tag)');
        reviewList.forEach(el => {
            el.remove();
        })
    }

    /**
     * 동적으로 추가되는 리뷰 버튼 이벤트 세팅
     */
    function setReviewButtonEvent() {
        const moreBtnList = document.querySelectorAll('.rv-content span.more-btn');
        moreBtnList.forEach(el => {
            el.addEventListener('click', function(event) {
                const content = el.previousElementSibling;
                content.classList.toggle('ellipsis');
                content.classList.toggle('line-clamp-3');
                el.textContent = content.classList.contains('ellipsis') ? '더보기' : '접기';
            })
        })
    }

    /**
     * 사용자 리뷰 데이터 동적 세팅
     */
    function setUserReviewSummaryData(review) {
        const reviewWraps = document.querySelectorAll('.rv-wrap'); // 반응형 엘리먼트 2개

        for (const reviewWrap of reviewWraps) {
            // 리뷰 내용
            reviewWrap.querySelector('.rv-content span').classList.toggle('d-none', review);
            reviewWrap.querySelector('.rv-content div').innerHTML = review ? review.reviewText : '';
            reviewWrap.querySelector('.rv-date').textContent = review ? review.createdDate : '';

            // 평점(별점)
            const newRatingEl = rebuildRatingEl(reviewWrap.querySelector('.star-rating'));
            newRatingEl.dataset.value = review ? review.rating : '';
            initializeStarRating(newRatingEl);
        }
    }

    /**
     * 모달, 오프캔버스 같이 동적으로 로드되는 데이터들 함수
     * 1. 사용자 리뷰 모달
     */
    let reviewSimpleEditor = null;
    function setReviewModalFormData() {
        globalLoading(true);

        const promise = axios.get(`/api/reviews/book/${bookIsbn}/me`);

        const onSuccess = (result) => {
            const review = result.data;
            const modalForm = document.getElementById('reviewForm');
            const starRatingEl = modalForm.querySelector('.star-rating');

            reviewSimpleEditor = new SimpleEditor('editorjs'); // 에디터 플러그인 초기화

            modalForm.querySelector('[name=bookIsbn]').value = bookIsbn;
            modalForm.querySelector('#deleteReviewBtn').toggle(review); // 신규 작성이면 삭제 버튼 숨기기
            if (review) {
                modalForm.querySelector('[name=id]').value = review.id;
                reviewSimpleEditor.fill(review.reviewText); // 리뷰 내용
                starRatingEl.dataset.value = review.rating; // 평점
            }
            initializeStarRating(starRatingEl); // 별점 플러그인 초기화
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 모달, 오프캔버스 같이 동적으로 로드되는 데이터들 함수
     * 2. 사용자 구매 이력 모달
     */
    function setPurchaseHistoryModalFormData() {
        globalLoading(true);

        const promise = axios.get(`/api/purchase-histories/book/${bookIsbn}/me`);

        const onSuccess = (result) => {
            const purchaseHistory = result.data;
            const purchaseForm = document.getElementById('purchaseHistForm');

            purchaseForm.querySelector('[name=bookIsbn]').value = bookIsbn;
            purchaseForm.querySelector('#deleteHistoryBtn').toggle(purchaseHistory); // 신규 작성이면 삭제 버튼 숨기기
            if (purchaseHistory) {
                purchaseForm.querySelector('[name=id]').value = purchaseHistory.id;
                purchaseForm.querySelector('[name=purchaseDate]').value = purchaseHistory.purchaseDate;
                purchaseForm.querySelector('[name=purchaseFrom]').value = purchaseHistory.purchaseFrom;
                purchaseForm.querySelector('[name=price]').value = purchaseHistory.price;
                purchaseForm.querySelector('[name=memo]').value = purchaseHistory.memo;
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 모달, 오프캔버스 같이 동적으로 로드되는 데이터들 함수
     * 3. 사용자 대여 이력 모달
     */
    function setRentalHistoryModalFormData() {
        globalLoading(true);

        const promise = axios.get(`/api/rental-histories/book/${bookIsbn}/me`);

        const onSuccess = (result) => {
            const rentalHistory = result.data;
            const rentalForm = document.getElementById('rentalHistForm');

            rentalForm.querySelector('[name=bookIsbn]').value = bookIsbn;
            rentalForm.querySelector('#deleteHistoryBtn').toggle(rentalHistory); // 신규 작성이면 삭제 버튼 숨기기
            if (rentalHistory) {
                rentalForm.querySelector('[name=id]').value = rentalHistory.id;
                rentalForm.querySelector('[name=rentalDate]').value = rentalHistory.rentalDate;
                rentalForm.querySelector('[name=returnDate]').value = rentalHistory.returnDate;
                rentalForm.querySelector('[name=rentalFrom]').value = rentalHistory.rentalFrom;
                rentalForm.querySelector('[name=memo]').value = rentalHistory.memo;
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 모달, 오프캔버스 같이 동적으로 로드되는 데이터들 함수
     * 4. 현재 독서 이력 수정 오프캔버스
     */
    function setReadingRecordCanvasForm() {
        const promise = axios.get(`/api/reading-records/book/${bookIsbn}/me/latest`);

        const onSuccess = (result) => {
            const latestReadingRecord = result.data;
            const readingRecordForm = document.getElementById('readingRecordForm');

            if (latestReadingRecord) {
                readingRecordForm.querySelector('[name=id]').value = latestReadingRecord.id;
                readingRecordForm.querySelector('[name=startDate]').value = latestReadingRecord.startDate;
            }
        }

        handleApiResponse(promise, onSuccess);
    }

    /**
     * 모달, 오프캔버스 같이 동적으로 로드되는 데이터들 함수
     * 5. 완독 이력 수정 오프캔버스
     */
    function setCompletedReadingRecordCanvasForm() {
        const promise = axios.get(`/api/reading-records/book/${bookIsbn}/me`);

        const onSuccess = (result) => {
            const completedReadingRecordList = result.data;
            const recordListWrap = document.getElementById('recordListWrap');
            const templateTag = recordListWrap.querySelector('.template-tag');

            if (templateTag) {
                completedReadingRecordList.forEach((item, idx) => {
                    const targetElement = templateTag.cloneNode(true);
                    targetElement.classList.remove('template-tag');

                    targetElement.querySelector('.read-num').textContent = idx + 1;
                    targetElement.querySelector('[name=id]').value = item.id;
                    targetElement.querySelector('[name=bookIsbn]').value = item.bookIsbn;
                    targetElement.querySelector('[name=startDate]').value = item.startDate;
                    targetElement.querySelector('[name=endDate]').value = item.endDate;

                    recordListWrap.appendChild(targetElement);

                    setCompletedReadingRecordButtonEvent(targetElement);
                });
            }
        }

        handleApiResponse(promise, onSuccess);
    }
    // 동적으로 추가되는 이력 수정/삭제 버튼 이벤트 세팅
    function setCompletedReadingRecordButtonEvent(targetElement) {
        targetElement.querySelectorAll('.edit-btn').forEach(el => {
            el.addEventListener('click', function () {
                for (const input of targetElement.querySelectorAll('input')) {
                    input.disabled = false;
                }
            })
        })
        targetElement.querySelector('.edit-btn.del-action').addEventListener('click', function () {
            targetElement.querySelector('[name=action]').value = 'D'; // DELETE
            targetElement.style.display = 'none';
        })
    }
</script>
</body>
</html>
