<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/assets/css/auth.css}"/>
</head>

<body th:replace="~{layouts/base :: auth_body(~{::div}, _)}">
<div class="card">
    <div class="card-body">
        <div class="app-brand">
            <a th:replace="~{common/logo :: logo}"></a>
        </div>
        <h4 class="mb-2">비밀번호 찾기</h4>
        <p class="mb-3">가입한 이메일 주소를 입력하시면 비밀번호 재설정을 위한 메일을 보내드립니다.</p>

        <form id="formAuthentication" class="mb-3" action="../index.html">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control invalid" id="email" name="email"
                       placeholder="example@boochive.com" autofocus>
                <div class="form-text invalid-feedback pt-1">해당 이메일로 등록된 계정이 없습니다.</div>
            </div>
            <button class="btn btn-primary d-grid w-100">재설정 메일 전송</button>
        </form>

        <div class="text-center">
            <a th:href="@{/user/login}" class="form-label-md text-primary">
                <i class="bx bx-chevron-left bx-sm"></i>
                <span class="align-middle">로그인 페이지</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>
