<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, ~{::link})}">
    <title>북카이브 - 회원가입</title>
    <link rel="stylesheet" th:href="@{/assets/css/auth.css}"/>
</head>

<body th:replace="~{layouts/base :: auth_body(~{::div}, ~{::script})}">
<div class="card">
    <div class="card-body">
        <div class="app-brand">
            <a th:replace="~{common/logo :: logo}"></a>
        </div>
        <h4 class="mb-2">회원가입</h4>
        <p class="mb-3">북카이브의 회원이 되어 다양한 서비스를 이용해 보세요!</p>

        <form class="mb-3" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@boochive.com"
                       autofocus>
                <span class="form-text invalid-feedback error-email"></span>
            </div>
            <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">비밀번호</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"/>
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span class="form-text invalid-feedback error-password"></span>
                <div class="form-text">※ 8~20자 이내로 영문, 숫자, 특수문자(!@#$%^&*()-_+=) 중 2가지 이상을 조합하셔야 합니다.</div>
            </div>
            <div class="mb-3 form-password-toggle">
                <label class="form-label" for="confirmPassword">비밀번호 확인</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"/>
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span class="form-text invalid-feedback error-confirmPassword"></span>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">이름</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="홍길동"/>
                <span class="form-text invalid-feedback error-username"></span>
            </div>

            <div class="mb-4">
                <div class="form-check">
                    <input type="hidden" name="isTermsAgreed" value="false"/>
                    <input class="form-check-input" type="checkbox" id="isTermsAgreed" name="isTermsAgreed" value="true"/>
                    <label class="form-check-label form-label-md" for="isTermsAgreed">
                        <a href="javascript:void(0);" class="btn-link fw-medium text-heading">개인정보수집 및 이용약관</a>에 동의합니다. <!-- TODO: 이용약관 모달 -->
                    </label>
                </div>
                <span class="form-text invalid-feedback error-isTermsAgreed"></span>
            </div>

            <button class="btn btn-primary d-grid w-100">가입하기</button>
        </form>

        <p class="text-center">
            <span class="form-label-md">이미 계정이 있으신가요?</span>
            <a th:href="@{/login}" class="btn-link form-label-md text-primary">
                <span>로그인</span>
            </a>
        </p>
    </div>
</div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        handleSubmit();
    });

    /**
     * 회원가입 요청 (+ 유효성 검사)
     */
    function handleSubmit() {
        clearErrorMessages();
        globalLoading(true);

        const promise = axios.post('/api/auth/register', formToJson(new FormData(form)));
        const onSuccess = (result) => {
            window.location.href = '/login';
        }
        const onError = (result) => {
gㄱ            displayErrorMessages(result.errors);
        }

        handleApiResponse(promise, onSuccess, onError);
    }

    function displayErrorMessages(errors) {
        Object.entries(errors).forEach(([field, message]) => {
            const errorSpan = document.querySelector('.error-' + field);
            if (errorSpan) {
                errorSpan.textContent = message;
                errorSpan.previousElementSibling.classList.add('invalid');
            }
        });
        // input 자동 포커스
        const firstInvalidInput = document.querySelector('input.invalid, .invalid input:not([type=hidden])');
        if (firstInvalidInput) {
            firstInvalidInput.focus();
        }
    }

    function clearErrorMessages() {
        const invalidList = document.querySelectorAll('.invalid');
        invalidList.forEach(el => {
            el.classList.remove('invalid');
            el.nextElementSibling.textContent = '';
        });
    }
</script>
</body>
</html>
