<div class="modal-header">
    <h5 class="modal-title">컬렉션 수정</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="collectionForm">
    <div class="modal-body">
        <input type="text" class="form-control" id="collectionName" name="collectionName" placeholder="컬렉션 이름">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">저장</button>
    </div>
</form>

<script>
    /**
     * 컬렉션 생성 및 수정
     */
    document.getElementById('collectionForm').addEventListener('submit', function(event) {
        event.preventDefault();
        saveCollection();
    })

    function saveCollection() {
        globalLoading(true);

        const form = document.getElementById('collectionForm');
        const data = formToJson(new FormData(form));

        const id = form.dataset.id;
        const promise = id
            ? axios.put(`/api/collections/${id}`, data)
            : axios.post('/api/collections', data);

        const onSuccess = (result) => {
            const savedCollection = result.data;
            if (savedCollection) {
                if (!data.id && typeof onCreateCollection == 'function') {
                    onCreateCollection(savedCollection);
                } else if (data.id && typeof onUpdateCollection == 'function') {
                    onUpdateCollection(savedCollection);
                }
            }
            invalidateUserCollectionListCache(); // 캐싱된 컬렉션 목록 초기화
            closeUIComponents();
        };

        handleApiResponse(promise, onSuccess);
    }
</script>