<form class="edit-or-view-mode">
    <div class="edit-mode mb-2 mb-md-3">
        <div class="list-group list-group-horizontal text-md-center mb-3" role="tablist">
            <a class="list-group-item list-group-item-md list-group-item-action w-auto active" data-bs-toggle="list"
               href="#imageSelect" aria-selected="true" role="tab">이미지 선택</a>
            <a class="list-group-item list-group-item-md list-group-item-action w-auto" data-bs-toggle="list"
               href="#directInput" aria-selected="false" role="tab">직접 입력</a>
        </div>

        <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="imageSelect" role="tabpanel">
                <div class="d-flex align-items-start justify-content-between form-border p-2">
                    <img class="img-thumbnail square" th:src="@{/assets/img/highlight-example.jpg}" style="height: 20vh;">
                    <label for="upload" class="btn btn-outline-primary btn-md align-self-end">
                        <span>내 파일 선택</span>
                        <input type="file" id="upload" class="" accept="image/*" hidden/>
                    </label>
                </div>
            </div>

            <div class="tab-pane fade" id="directInput" role="tabpanel">
                <div class="form-border overflow-auto mb-2" style="height: 20vh;">
                    <div id="editorjs"></div>
                </div>
                <div class="row">
                    <label class="col-3 col-sm-2 col-form-label">하이라이트 색상</label>
                    <div class="col-9 col-sm-10 d-flex align-items-center">
                        <input type="color" list="presetColors" class="">
                        <datalist id="presetColors">
                            <option>#ff0000</option>
                            <option>#00ff00</option>
                            <option>#0000ff</option>
                        </datalist>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-border overflow-auto view-mode p-0 mb-2 mb-md-3" style="height: 30vh;">
        <div class="card-img-overlay">
            <p>
                <mark>
                    "두려움은 정신을 죽인다. 두려움은 완전한 소멸을 초래하는 작은 죽 음이다. 나는 두려움에 맞설 것이며 두려움이 나를 통과해서 지나가도록 허락할 것이다.
                    두려움이 지나가고 나면 나는 마음의 눈으로 그것이 지나간 길을 살펴보리라.
                </mark>
            </p>
        </div>
    </div>
    <div class="view-mode mb-2 mb-md-3">
        <img class="img-thumbnail square" th:src="@{/assets/img/highlight-example.jpg}">
    </div>

    <div class="row mb-2 mb-md-3">
        <label class="col-3 col-sm-2 col-form-label">책 선택</label>
        <div class="col-9 col-sm-10 d-flex align-items-center">
            <div class="w-100 edit-mode">
                <select class="lc-select" name="">
                    <optgroup label="읽는 중">
                        <option value="배움의 발견" th:data-image="@{/assets/img/book01.jpg}">배움의 발견</option>
                        <option value="종의 기원" th:data-image="@{/assets/img/book02.jpg}">종의 기원</option>
                    </optgroup>
                    <optgroup label="그 외">
                        <option value="일류의 조건" th:data-image="@{/assets/img/book03.jpg}">일류의 조건</option>
                    </optgroup>
                </select>
            </div>
            <div class="view-mode">
                <select class="lc-select" name="" disabled>
                    <optgroup label="읽는 중">
                        <option value="배움의 발견" th:data-image="@{/assets/img/book01.jpg}">배움의 발견</option>
                        <option value="종의 기원" th:data-image="@{/assets/img/book02.jpg}">종의 기원</option>
                    </optgroup>
                    <optgroup label="그 외">
                        <option value="일류의 조건" th:data-image="@{/assets/img/book03.jpg}">일류의 조건</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-2 mb-md-3">
        <label class="col-3 col-sm-2 col-form-label">페이지</label>
        <div class="col-9 col-sm-10 d-flex align-items-center">
            <div class="edit-mode">
                <div class="input-group">
                    <input type="number" class="form-control text-end" value="325">
                    <span class="input-group-text">p</span>
                </div>
            </div>
            <p class="view-mode">253 <em>p</em></p>
        </div>
    </div>

    <div class="row mb-2 mb-md-3">
        <label class="col-3 col-sm-2 col-form-label">작성일자</label>
        <div class="col-9 col-sm-10 d-flex align-items-center">
            <input type="date" class="form-control edit-mode" value="2024-07-01">
            <p class="view-mode">2024-07-01</p>
        </div>
    </div>

    <div class="row mb-3 mb-md-4">
        <label class="col-3 col-sm-2 col-form-label">공개여부</label>
        <div class="col-9 col-sm-10 d-flex align-items-center">
            <div class="form-check form-check-inline edit-mode">
                <input class="form-check-input" type="radio" name="gender" id="genderMale" value="M"
                       checked="">
                <label class="form-check-label" for="genderMale">비공개</label>
            </div>
            <div class="form-check form-check-inline edit-mode">
                <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                       value="F">
                <label class="form-check-label" for="genderFemale">전체 공개</label>
            </div>
            <span class="badge bg-label-primary view-mode">비공개</span>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary me-2 edit-mode">저장</button>
        <button type="reset" class="btn btn-outline-secondary edit-mode" onclick="switchMode('view')">취소</button>
        <button type="reset" class="btn btn-outline-secondary view-mode" data-bs-dismiss="collapse">닫기</button>
    </div>
</form>

<script>
    Helpers.initializeLCSelect();
    var editorInstance = new EditorJS();

    function save() {
        let editorContent;

        getContent().then(content => {
            editorContent = content;
            console.log(editorContent);
        });

    }

    /**
     * 에디터 내용 전처리 함수 (html로 변환)
     */
    async function getContent() {
        try {
            const outputData = await editorInstance.save();
            return convertDataToHtml(outputData.blocks)
        } catch (error) {
            console.error('Error getting content:', error);
        }
    }
    function convertDataToHtml(blocks) {
        let convertedHtml = '';
        blocks.map(block => {
            switch (block.type) {
                case "paragraph":
                    convertedHtml += `<p><mark>${block.data.text}</mark></p>`;
                    break;
                default:
                    console.log('Unknown block type', block.type);
                    break;
            }
        });
        return convertedHtml;
    }

    /**
     * 읽기/편집 모드 전환
     */
    function switchMode(mode) {
        for(const el of document.querySelectorAll('.view-mode')) {
            el.style.display = mode === 'view' ? 'revert' : 'none';
        }
        for(const el of document.querySelectorAll('.edit-mode')) {
            el.style.display = mode === 'edit' ? 'revert' : 'none';
        }
    }
</script>