<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/base :: head(~{::title}, _)}">
    <title>북카이브 - 독서 노트</title>
</head>

<body th:replace="~{layouts/base :: _body('reading-note', ~{::section}, ~{::script}, true)}">
<section class="container-xxl flex-grow-1 container-p-y">
    <ul th:replace="~{notes/note-nav :: nav('highlight')}"></ul>

    <div class="row" id="highlightNoteCard">
        <div class="col-12 order-1 order-lg-0 with-collapse">
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h5 class="mb-1">형광펜</h5>
                        <div class="text-muted">
                            <i class="bx bx-highlight bx-xs me-1"></i>인상깊은 구절을 남겨보세요.
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-icon btn-primary btn-md new-note-btn"
                                data-bs-show="collapse" data-bs-target="#noteDetailCont" data-mode="edit">
                            <i class="bx bx-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div th:replace="~{common/loading :: local}"></div>
            <div th:replace="~{common/result-message :: div('노트가 없습니다.')}"></div>

            <div class="d-grid grid-2-column grid-md-3-column grid-lg-4-column gap-3 mb-3" id="noteListWrap">
            </div>

            <nav th:replace="~{common/pagination :: nav}"></nav>
        </div>

        <div class="col-lg-5 mb-4 order-0 order-lg-1 collapse collapse-horizontal" id="noteDetailCont">
        </div>
    </div>
</section>

<script id="note-list-template" type="text/x-handlebars-template">
    {{#each notes}}
        <div class="card existing-note-btn" data-bs-show="collapse" data-bs-target="#noteDetailCont" role="button"
             data-mode="view" data-id="{{id}}">
            <div class="card-img-top overflow-hidden">
                {{#if attachmentImage}}
                    <img src="{{uploadUrl attachmentImage}}">
                {{else}}
                    <div class="card-img-overlay">
                        {{{highlight noteText backgroundColor}}}
                    </div>
                {{/if}}
            </div>
            <div class="card-body p-3">
                {{#with bookInfo}}
                    <div class="card-title d-flex align-items-center gap-2 mb-2">
                        <img src="{{cover}}" class="img-thumbnail square rounded" width="24">
                        <h6 class="fs-6 summary-text">{{title}}</h6>
                    </div>
                {{/with}}
                <p class="card-text">
                    <small class="text-muted">{{createDate}}</small>
                    {{#if pageNumber}}
                        <span class="badge bg-label-dark float-end">
                            {{pageNumber}}<em> p</em>
                        </span>
                    {{/if}}
                </p>
            </div>
        </div>
    {{/each}}
</script>

<script th:src="@{/assets/js/image-util.js}"></script>
<script type="module">
    import { SimpleEditor } from '/assets/js/editor-util.js';
    window.SimpleEditor = SimpleEditor;
</script>
<script>
    let userBookList = null;

    // 하이라이트 스타일 적용 헬퍼
    Handlebars.registerHelper('highlight', function(text, color) {
        // 텍스트를 mark 태그로 감싸기
        return getHighlightedNoteText(text, color);
    });

    function getHighlightedNoteText(noteText, highlightColor, type = 'hl') { // className = cdx(에디터용)/hl(보기용)
        if (!highlightColor) return noteText;
        return noteText.replaceAll('class="cdx-marker"', `class="${type}-marker" style="background: ${highlightColor};"`)
    }

    document.addEventListener('DOMContentLoaded', async function (e) {
        loadUserBookList(); // 사용자 책 목록 미리 로드 (신규 노트 폼에서 책 선택 옵션에 사용)
        setNewNoteButtonEvent(); // [신규 노트] 버튼 이벤트
        getNoteList();
    });

    async function loadUserBookList() {
        try {
            if (!userBookList) {
                const response = await axios.get('/api/reading-notes/book-options');
                userBookList = response.data.data;
            }
        } catch (error) {
            console.error('axios 요청 오류:', error);
            showToast('알 수 없는 오류가 발생했습니다.', 'error');
        }
        return userBookList;
    }

    /**
     * UI 이벤트 - 상세보기 콜랩스 show/hide 시 크기 조정
     */
    const leftCard = document.querySelector('.with-collapse');
    const collapseCard = document.querySelector('.collapse');
    const noteGridCard = document.querySelector('#noteListWrap');
    collapseCard.addEventListener('show.bs.collapse', function (event) {
        leftCard.classList.add('col-lg-7');
        noteGridCard.classList.remove('grid-lg-4-column');
        noteGridCard.classList.add('grid-lg-3-column');
    });
    collapseCard.addEventListener('hide.bs.collapse', function (event) {
        leftCard.classList.remove('col-lg-7');
        noteGridCard.classList.add('grid-lg-4-column');
        noteGridCard.classList.remove('grid-lg-3-column');
    });


    /**
     * 노트 목록 조회
     */
    function getNoteList() {
        hideNoResultsMessage(); // 검색 시작 시 결과 없음 메시지 숨김
        clearPageButtons(); // 페이지네이션 버튼 초기화
        clearNoteList(); // 이전 목록 초기화
        localLoading(true);

        const promise = axios.get('/api/reading-notes/highlight/me'+window.location.search);

        const onSuccess = (result) => {
            const data = result.data;

            if (data.numberOfElements) {
                setNoteList(data);
                setPagination(data.number + 1, data.totalPages);
            } else {
                showNoResultMessage();
            }
        };

        handleApiResponse(promise, onSuccess);
    }

    function setNoteList(data) {
        const noteListWrap = document.getElementById('noteListWrap')

        // 노트 목록 세팅
        const source = document.getElementById('note-list-template').innerHTML;
        const template = Handlebars.compile(source);
        const html = template({notes: data.content});
        noteListWrap.innerHTML = sanitizeHtml(html);

        // 버튼 이벤트 세팅
        setNoteDetailButtonEvent();
    }

    function clearNoteList() {
        const noteListWrap = document.getElementById('noteListWrap')
        while (noteListWrap.children[0]) {
            noteListWrap.removeChild(noteListWrap.children[0]);
        }
    }

    /**
     * 노트 신규 및 상세보기 버튼 이벤트
     */
    function setNewNoteButtonEvent() {
        const button = document.querySelector('.new-note-btn');
        button.addEventListener('click', function (event) {
            showDetailCard(null, button.dataset.mode);
        });
    }
    function setNoteDetailButtonEvent() {
        // 컴포넌트 이벤트 초기화
        Helpers.initializeCollapses();

        // 노트 상세 보기
        const detailButtons = document.querySelectorAll('.existing-note-btn');
        detailButtons.forEach(el => {
            el.addEventListener('click', function (event) {
                event.stopImmediatePropagation();
                const card = el.closest('.card');
                showDetailCard(card.dataset.id, el.dataset.mode);
            });
        })
    }

    function showDetailCard(id, mode) { // mode = edit(편집모드) / view(읽기모드)
        const target = document.querySelector('#noteDetailCont');
        const callback = () => {
            if (id) {
                globalLoading(true);

                const promise = axios.get(`/api/reading-notes/highlight/${id}`);
                const onSuccess = (result) => {
                    setNoteDetailData(result.data, mode);
                };
                handleApiResponse(promise, onSuccess);
            } else {
                setNoteDetailData({}, mode);
            }
        };
        loadHTML(`/notes/partials/highlight-note-detail`, target, callback);
    }

    let noteEditor = null;
    async function setNoteDetailData(data, mode) {
        const noteDetailForm = document.getElementById('noteDetailForm');
        const source = document.getElementById(`note-${mode}-template`).innerHTML;
        const template = Handlebars.compile(source);

        noteDetailForm.dataset.id = data.id ?? '';

        if (mode === 'edit') {
            const bookOptions = await loadUserBookList();
            const defaultHighlightColor = config.highlight.default;
            const highlightColorOptions = config.highlight.colors;
            const html = template({
                note: data,
                bookOptions: bookOptions,
                defaultHighlightColor: defaultHighlightColor,
                highlightColorOptions: highlightColorOptions
            });
            noteDetailForm.innerHTML = sanitizeHtml(html);

            // 에디터 플러그인 초기화
            noteEditor = new SimpleEditor('editor', ['marker']);
            if (data.noteText) {
                noteEditor.initialize(getHighlightedNoteText(data.noteText, data.backgroundColor, 'cdx'));
            }
        } else if (mode === 'view') {
            const html = template(data);
            noteDetailForm.innerHTML = sanitizeHtml(html);
        }

        // 렌더링 후 이벤트 리스너 세팅
        setModalEventAfterRender();
    }
</script>
</body>
</html>
